/Base64EncodeDecode.class
/Demo1.class
/Demo2.class
/Emp.class
/EmpDetail.class
/Employee.class
/MachingOpr.class
/MapFun.class
/MapFun2.class
/MapFun3.class
/MinMaxAvgSalOfEmp.class
/ParralelStream.class
/Person.class
/SomeMoreStreamApiProblem.class
/SomeMoreStreamApiProblem_SumOfArray.class
/User.class
/readFileData.class
