/ButterFly.class
/FancyPattern1.class
/FancyPattern2.class
/FancyPattern3.class
/FlipSolidDiamond.class
/FullPyramid.class
/FullPyramid_Inverted.class
/HollowDiamond.class
/HollowSquare.class
/SolidDiamond.class
